{{ define "main" }}
	<h1 class="display-3">Welcome to Recipe First!</h1>
	<p class="lead">
		This is where I scream into the void about food- the cooking, the
		baking, and the eating.
	</p>
	<p class="lead">
		I post both recipe based and rambling based things. In all my recipe
		posts you'll find the recipe (tools, ingredients, and method) at the top
		of the post, with notes and my miscellaneous thoughts following. Hence
		the name "Recipe First". This is the layout I like best for my recipes
		because often for me there isn't an important or intesting story tied to
		what I'm making - I'm just playing around in the kitchen and working on
		the recipes that I enjoy making most.
	</p>
	<p class="lead">
		Bread will always be one of my favorite challenges, and I hope to get
		more bread recipes prefected (or at least really functional) soon.
	</p>
	{{ partial "home/carousel/main" . }}
{{ end }}
