{{ define "main" }}
	<h1 class="display-3">Welcome to Recipe First!</h1>
	<p class="lead">
		This is where I scream into the void about food- the cooking, the
		baking, and the eating.
	</p>
	<p class="lead">
		In all my recipe posts you'll find the recipe (tools, ingredients, and
		method) at the top of the post, with notes and my miscellaneous thoughts
		following.
	</p>
	<p class="lead">
		I like this layout because if you're just looking for something to cook
		you don't need to read through my food related ramblings to get what
		you're looking for. And if you're also looking for food related
		ramblings, then great! I ramble a lot. Please enjoy. :)
	</p>
	{{ partial "home/carousel/main" . }}
{{ end }}
